# Telegram Bot Tokens
SHUT_TOKEN=8721521033:AAFdCXjlFQ2IUPNrONbCgh5BnTIbIk2EzaU
STRAZH_TOKEN=8830953306:AAEoPP0rs3lbWIIOgmUp_LRpvd7MoaxfttI

# Supabase
SUPABASE_URL=https://ltmolouvhknshkflrchd.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0bW9sb3V2aGtuc2hrZmxyY2hkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0Nzk0OTMsImV4cCI6MjA5NTA1NTQ5M30.QUNR033gFmFe3iYnFXnqhuVys-k1TGjbmKqG_2-hSiQ

# Owners
OWNER_IDS=1977286714,8146098023

# Proxy для Telegram (раскомментируй и заполни при необходимости)
USE_PROXY=False
PROXY_URL=http://212.34.138.89:8080
# Если прокси без авторизации: http://proxy.example.com:8080
PROXY_VERIFY_SSL=False

TEST_MODE=True

LOG_LEVEL=DEBUG